{% load static %}
{% include 'mysite/header.html' %}
{% if curpic %}
<div align='center'>
    <img src='{{curpic.docfile.url}}'>
    <br>
    拍摄时间：{{curpic.date}}
    <br>
    总投票数：{{curpic.votesum}}
    <br>
    不及格投票数：{{curpic.unqualifiedsum}}
    <br>
    <form action="{% url "mysite:validpics" %}"  method="POST" role="form" style="text-align:center" >        <input type='hidden' name='picid' value='{{curpic.id}}' />  
    <input href="" class="btn btn-success" type="submit" name="judge" value="合格">
 &nbsp;|&nbsp;<input href="" class="btn btn-warning" type="submit" name="judge" value="不合格" >
</form>
</div>
{% endif %}
